.PlayerSubmissionForm {
  line-height: 3rem;
}

.PlayerSubmissionForm__form {
  margin: 2rem auto 3rem auto;
}

.PlayerSubmissionForm__poem-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.PlayerSubmissionForm__submit {
  display: flex;
  justify-content: center;
}

.PlayerSubmissionForm__submit-btn {
  flex: 0.5;
  margin: 2rem;
  border-radius: 30px;
  padding: 0.5rem;
  background-color: rgb(75, 211, 211);
  border: 2px black solid;
  box-shadow: 5px 10px black;
  transition: 0.25s;
}

.PlayerSubmissionForm__submit-btn:hover {
  background-color: pink;
}

.PlayerSubmissionFormt__input--invalid {
  background-color: #FFE9E9;
}

.PlayerSubmissionForm__input--invalid::placeholder {
  color: black;
}
